@using EMarket.Core.Application.ViewModels.Advertises;
@using EMarket.Core.Application.ViewModels.AdvertisePhotos;
@model SaveAdvertisesViewModel
@{
    ViewData["Title"] = Model.ProductName;

    String fecha = Model.date.Value.ToString("MMMM dd, yyyy");
}
<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item card-img-top mb-5 mb-md-0 active">
                            <img src="@ViewBag.AdPhotos.Image1" class="d-block adImagesCarrousel" alt="...">
                        </div>
                        @if (ViewBag.AdPhotos.Image2 != "") {
                        <div class="carousel-item card-img-top mb-5 mb-md-0">
                            <img src="@ViewBag.AdPhotos.Image2" class="d-block adImagesCarrousel" alt="...">
                        </div>
                        }
                        @if (ViewBag.AdPhotos.Image3 != "") {
                            <div class="carousel-item card-img-top mb-5 mb-md-0">
                                <img src="@ViewBag.AdPhotos.Image3" class="d-block adImagesCarrousel" alt="...">
                            </div>
                        }
                        @if (ViewBag.AdPhotos.Image4 != "")
                        {
                            <div class="carousel-item card-img-top mb-5 mb-md-0">
                                <img src="@ViewBag.AdPhotos.Image4" class="d-block adImagesCarrousel" alt="...">
                            </div>
                        }

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="small mb-1">
                    @(Model.User.FirstName == null ? "" : Model.User.Username) 
                </div>
                <h1 class="display-5 fw-bolder">@Model.ProductName</h1>
                <div class="fs-5 mb-5">
                <h4 class="display-7 fw-bolder">@Model.Category.Name</h4>
                    <span class="text-decoration-line-through">$@(Model.Price - 100)</span>
                    <span>$@Model.Price</span>
                </div>
                <p class="lead">@Model.Description</p>
                <p class="lead fw-bold">Fecha: <span class="lead">@fecha </span></p>

                <div class="d-flex flex-column">
                    <h4 class="display-7 fw-bolder w-100">Datos del vendedor:</h4>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1">Nombre: </i>
                        @Model.User.FirstName @Model.User.LastName
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1">Email: </i>
                        @Model.User.Email
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1">Phone number: </i>
                        @Model.User.Phone
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>