@using EMarket.Core.Application.ViewModels.Advertises;
@model List<AdvertisesViewModel>
@{
    ViewData["Title"] = "Anuncios";
}

<div class="col-12">
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-primary " asp-controller="Advertises" asp-action="Create">Crear nuevo anuncio</a>
    </div>
    <div class="d-flex justify-content-between">

        <div class="col-12 d-flex flex-wrap">
            @if (Model == null || Model.Count == 0)
            {
                <div class="card-header bg-dark d-flex justify-content-center align-items-center">
                    <h4 class="text-white">No hay anuncios creados</h4>
                </div>
            }
            else
            {
                @foreach (AdvertisesViewModel item in Model)
                {
                    <div class="card col-3 me-2">
                        <div class="card-header bg-dark d-flex justify-content-center">
                            <h4 class="text-white">@item.Name</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h6 class="fw-bold" style="position: absolute;top: 55px; right: 5px;">Usuario: @item.User.Username <span class="fw-normal"></span></h6>
                                <img src="@item.ImageUrl" class="w-50 card-img" />
                            </div>

                            <div class="d-flex flex-column">
                                <h6 class="">@item.Description</h6>
                                <h6 class="">$@item.Price</h6>
                                <h6 class="fw-bold">Categoria: <span class="fw-normal">@item.CategoryName</span></h6>
                                @*<span class="d-flex justify-content-between">Anuncios: <p>@item.Advertises.Count </p> </span>*@
                            </div>
                            <div class="d-flex justify-content-between">
                                <a asp-action="Edit" asp-controller="Advertises" asp-route-Id="@item.Id">Editar</a>
                                <a asp-action="Delete" asp-controller="Advertises" asp-route-Id="@item.Id">Eliminar</a>
                            </div>
                        </div>
                    </div>
                }
            }
       </div>
    </div>
</div>