@using EMarket.Core.Application.ViewModels.Advertises;
@using EMarket.Core.Application.ViewModels.Categories;
@model List<AdvertisesViewModel>
@{
    ViewData["Title"] = "Inicio";
}

<div class="col-12">
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-outline-primary ">Soy un banner futuro</a>
    </div>
    <div class="d-flex justify-content-between">
        <div class="col-2">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>Filtros</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Categorias</h4>
                    <form method="post" asp-action="Index" asp-controller="Home">

                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" value="null" type="radio" name="CategoryId" id="Category-all" />
                                <label class="form-check-label" for="category-all">Todas</label>
                            </div>
                        </div>

                        @foreach (CategoryViewModel category in ViewBag.Categories)
                        {
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" value="@category.Id" type="radio" name="CategoryId" id="Category-@category.Id" />
                                    <label class="form-check-label" for="category-@category.Id">@category.Name</label>
                                </div>
                            </div>
                        }

                        <button class="btn btn-filtrar" type="submit">Filtrar</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-9 d-flex justify-content-evenly flex-wrap">
            @if (Model == null || Model.Count == 0)
            {
                <div class="card-header bg-dark d-flex justify-content-center align-items-center w-100">
                    <h4 class="text-white">No hay anuncios creados</h4>
                </div>
            }
            else
            {
                @foreach (AdvertisesViewModel item in Model)
                {
                    @*225,218*@
                    <div class="w-100 d-flex mb-3">
                        <div class="d-flex align-items-center me-2" style="width: 225px; height: 218px;">
                            <img src="@item.ImageUrl" class="w-100 h-100 card-img;" style=" object-fit: scale-down;" />
                        </div>
                        <div class="w-75 d-flex flex-column justify-content-center">
                            <div class="d-flex w-100">
                                <h4 class="text-dark fontAds">@item.Name</h4>
                            </div>

                            <div class="d-flex flex-column w-100">
                                <h5 class="fontAds">@item.Description</h5>
                                <div class="d-flex w-100">
                                    <span class="fs-6" style="margin-top: 0px !important">$</span>
                                    <h3>@item.Price</h3>
                                    </div>
                                <h5 class="fw-bold"><span class="fw-normal">@item.CategoryName</span></h5>
                                <h6 class="fw-bold">Usuario: </h6>
                                @*<span class="d-flex justify-content-between">Anuncios: <p>@item.Advertises.Count </p> </span>*@
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>